<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="dashboard-title">What I'm Learning</h1>
  <% current_user.enrolled_courses.each do |course| %>
    <h3 class="text-center">
    <%= link_to course.title, course_path(course), class: 'dashboard-course' %>
    </h3>
    <br />
    <div class="text-center">
    <%= image_tag course.image, class: 'img-fluid' %>
    </div>
    <br />
    <div class="row">
      <div class="dashboard-title col-12 col-sm-10">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-2 text-center">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-outline-secondary' %>
      </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>

  <h1 class="dashboard-title">What I'm Teaching</h1>
  <% current_user.courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, course_path(course), class: 'dashboard-course'  %>
    </h3>
    <br />
    <div class="text-center">
    <%= image_tag course.image, class: 'img-fluid' %>
    </div>
    <br />
    <div class="row">
      <div class="dashboard-title col-12 col-sm-10">
        <%= course.description %>
      </div>

      <div class="col-12 col-sm-2 text-center">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-outline-secondary' %>
      </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>
</div>